/* MEDIA QUERIES DESKTOP FIRST */


/* TABLET  */
@media (max-width: 768px) {
    .container {
        max-width: 1140px;
        width: 100%;
    }
}
/* oppure
.container {
    max-width: 100%;
} */

/* LARGE DEVICES  */
@media (min-width: 768px) and (max-width: 1160px) {
    .container {
        max-width: 100%;
    }
}

/* MOBILE  */
@media (max-width: 480px) {

    .container {
        max-width: 100%;
    }

    .row {
        flex-wrap: wrap;
        gap: 100px;
    }

    /* LESSONS SECTION  */
    .lessons {
        padding-bottom: 55px;
    }
    
    .lessons .col,
    .steps .col,
    .why-us .col {
        width: 100%;
    }

    /* STEPS SECTION  */
    .steps {
        margin: 0px;
        padding: 55px 0px;
    }

    /* WHY US SECTION  */
    .why-us {
        background-color: rgb(34, 34, 34);
        margin-bottom: 0px;
        padding: 55px 0px;
    }
}

