/* MEDIA QUERIES DESKTOP FIRST */

/* non far comparire la scrollbar orizzontale. */
/* LARGE DEVICES  */


/* TABLET  */
@media (max-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 768px) and (max-width: 1160px) {
    .container {
        max-width: 100%;
    }
}

/* MOBILE  */
@media (max-width: 480px) {

    .container {
        max-width: 480px;
    }

    /* LESSONS SECTION  */
    .lessons {
        padding-bottom: 55px;
    }

    .lessons .row {
        flex-flow: column;
        align-items: center;
        gap: 100px;
    }

    .lessons .col {
        width: 100%;
    }

    /* STEPS SECTION  */
    .steps {
        margin: 0px;
        padding: 55px 0px;
    }

    .steps .row {
        flex-wrap: wrap;
        gap: 100px;
    }
    
    .steps .col {
        width: 100%;
    }

    /* WHY US SECTION  */
    .why-us {
        background-color: rgb(34, 34, 34);
        margin-bottom: 0px;
        padding: 55px 0px;
    }

    .why-us .row {
        flex-wrap: wrap;
        gap: 100px;
    }
    
    .why-us .col {
        width: 100%;
    }
}

